@import url('bootstrap-grid.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
html,body{
    width: 100%;
    height:100%;
    background-image: url(../images/skateboardBackground-5.jpg);
    background-size: cover;
}
.logo{
    position: relative;
    top: 7%;
    width: 100%;
    height: 150px;
}
nav {
    position: absolute;
    width: 18%;
    left: 0;
    background: rgba(0,0,0,0.8);
    align-items: center;
    text-align: center;
    height: 100vh;
}
  
.gnb {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    text-align: center;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    top: 16%;
} 
.gnb li a {
    text-decoration: none;
}
.lnb{
    width: 100%;
    padding: 10px 0;
}
.lnb>a{
    color: #fff;
}
.lnb:hover{
    background: rgba(0,0,0,1);
}
.lnb_nav {
    width: 150px;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 18%;
    height: 100vh;
    background-color: #fff;
    height: 100vh;
    display: none;
    padding: 0;
    border-right: 5px solid #000;

}

.lnb_nav li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    padding: 10px 0;
}
.lnb_nav li:hover a{
    color: yellowgreen;
}
.lnb_nav li a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 400;
}
.shop:hover .lnb_nav {
    display: block;
    left: 18%;
}
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: orange;
    font-size: 28px;
    margin: 0;
  }
  
  .main {
    padding: 40px;
    text-align: center;
  }
  
  .event {
    margin-bottom: 40px;
  }
  
  .event h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: orange;
  }
  
  .event-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .event-box {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    height: 320px; 
  }
  
  .event-box img {
    width: 100%;
    height: auto;
    max-height: 176px; 
    object-fit: cover;
  }
  
  .event-box h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #fff;
  }
  
  .event-box p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
    color: orange;
  }
  
#soundToggleBtn {
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

#soundToggleBtn:focus {
    outline: none;
}

#soundToggleBtn i {
    display: inline-block;
}

#soundToggleBtn:hover {
    background: transparent;
    color: #fff;
    box-shadow: none;
}
.login{
    position: absolute;
    top: 1%;
    left: 2%;
    font-size: 18px;
    color: #fff;
}
.login:hover{
    color: #a6d124;
    text-decoration: none;
}
.signup{
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 18px;
    color: #fff;
}
.signup:hover{
    color: #a6d124;
    text-decoration: none;
}
.fa-solid >span:hover{
    color: #fff;
    background-color: #fff;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 82%;
  height: 50%;
  background-color: #f5f5f5;
  color: #333;
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-section {
    flex-basis: 50%;
}
.footer-section h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section p {
  margin-bottom: 10px;
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media a {
  color: #333;
  font-size: 40px;
}

.footer-bottom {
  position: relative;
  margin-top: 20px;
  text-align: center;
  top: 50px;
}

.fa-bars{
    position: absolute;
    top: 12%;
    right: 50%;
    color: #fff;
    font-size: 35px;
}
.fab:hover{
    color: #898f9c;
}
.fa-facebook{
    color: #4267b2;
}
.fa-twitter{
    color: #1da1f2;
}
.fa-instagram{
    color: #833ab4;
}
.footer-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 82%;
    background: rgba(0, 0, 0, 0.8);
  }
